:root {
  --color-white: #FFFFFF; /* variables for colors and properties if you wish to create any, you can */
}
*, ::before, ::after{
  padding:0;
  margin:0;
  box-sizing:border-box; /* to make sure width, height, padding properties are computed inside box, and making width/height exactly what specified*/
}
.displayNone{
  display:none; /* to presever semantic aspect of any element like h1, according to validator.w3c.org */
}
html{
  font-size:16px; /* here to make website responsive, 16px is set as base size, such that 1rem=16px */
}
body{
  font-family: 'Roboto', sans-serif;
}

/***
 * Yours CSS Code begins from here 
 */
 main {
    font-family: "Amazon Ember",Arial,sans-serif;
    color: #0F1111;
 }
 .hero-section {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 335px;
 }

 .hero-section img{
  width: 50vw;
 }

 .hero-section .para {
  background-color: #325b87;
  color: #FFFFFF;
  padding: 1rem;
  object-fit: cover;
 }

 .hero-section .para img{
  height: 2.5rem;
  width: 10rem;
 }

 .hero-section .para h2 {
  padding: 1.2rem 0px 0px 0px;
  font-weight: 700;
  line-height: 2rem;
 }

 .hero-section .para span b{
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1rem;
  display: block;
  padding-bottom: 1.2rem;
 }

 .hero-section .para button {
   background-color: #FFD814;
   font-size: 1.2rem;
   padding: 1rem;
   text-align: center;
   border-radius: 5px;
   border: 1px solid #FCD200;
   cursor: pointer;
   box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
 }

 .hero-section .para button:hover {
  background: #F7CA00;
  border-color: #F2C200
 }

 .hero-section .para > span {
  display: block;
  font-size: small;
  padding: 1.2rem 0px 0px 0px;
 }

 .hero-section .para  span > a {
  text-decoration: none;
  color: #FFFFFF;
  text-decoration: underline;
 }

 .main {
  flex-shrink: 0;
  flex-grow: 0;
 }

 .main .section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3rem;

 }

 .main .heading {
     text-align: center;
     font-size: 1.75rem;
     padding: 2.5rem 0px;
 }

 .main .section .image img{
  width: 50vw;
  padding-right: 1rem;
 }

 .main .section .content {
    width: 80vw;
    padding-right: 1rem;
 }

 .main .section .content>h3 {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 0.5rem;
 }

 .main .section .content > p{
  color: #565959;
  font: 18px Arial;
  line-height: 1.5rem;
}

.main .section .content a {
  text-decoration: none;
  color: #0066c0;
  font-size: small;
}
.main .section .content h3>img {
  width: 6rem
}
.main .section .content p>img {
  width: 4rem
}

main .main hr {
  padding-bottom: 6rem;
}

@media screen and (max-width:450px){
   .hero-section {
    display: flex;
    flex-direction: column;
   }
   .hero-section img {
    width: 92vw;
   }
   .hero-section .para h2 {
    font-size: medium;
  }
  .hero-section .para span>b {
   font-size: small;
 }
 .hero-section .para button {
   font-size: small;
   padding: 0.75rem;
 }
 .main .heading {
  font-size: medium;
 }
 .main .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .main .section .content > p  {
   font-size: 13px;
   line-height: 1.2rem;
   letter-spacing: 1px;
  }
 .main .section .content > h3  {
  font-size: medium;
 }
 .main .section .content a {
  font-size: 12px;
 }
.main .section .image img {
  width: 100vw;
  padding: 0.5rem;
 }
}
@media screen and (max-width:350px){
  .hero-section img {
    width: 90vw;
   }
}

@media screen and (max-width:280px){
  .hero-section img {
    width: 88vw;
   }
}