/*** 
 * index.css
 * Author: Abhishek kumar
 * purpose: to style homepage of our website
 *
 */
 :root {
  --colorGreenishBlue : #007185;

  --color-light-black: #111111;
  --color-light-black2: #131921;
  --color-light-black3: #0F1111;
  --color-black3: #131A22;
  --color-black4: #333333;
 
 --color-white: white;
 --color-light-gray: #cccccc;
 --color-light-gray2: #eaeded;
 --color-light-gray3: #dddddd;
 --color-light-gray4: #3a4553;
 --color-light-gray5: #e6e6e6;
 --color-light-gray6: #d5dbdb;
 --color-light-gray7: #E3E6E6;


 --color-orange: #f3a847;
 --color-orange-2: #f08804;
 --color-orange-light: #febd69;
 

 --color-grayishBlue: #37475A;
 --color-grayishBlue-2: #485769;


 --color-navBarPrimaryHeader: #232f3e;
 --border-radius: .3rem;
 --color-caretDown: #a7acb2;
 --transition-timing: .3s;
 --transition-timing-2: .2s;

 --maxResolutionSupported: 240rem; /* 240x16px = 3840px width */
 --maxWidthOfMainContentWrapperDiv: 100rem;

 --rating-stars-nextStrip: -19px;
 --homepageCarouselSpeed:55s;
 
 
 
 --cardWidth: 23rem;
 --cardHeight: 27rem;
 --card-subCardWidth: 10rem;
 --card-subCardHeight: 8rem;
}
*, ::before, ::after{
  padding:0;
  margin:0;
  box-sizing:border-box; /* to make sure width, height, padding properties are computed inside box, and making width/height exactly what specified*/
}
.displayNone{
  display:none; /* to presever semantic aspect of any element like h1, according to validator.w3c.org */
}
html{
  font-size:16px; /* here to make website responsive, 16px is set as base size, such that 1rem=16px */
}
body{
  font-family: 'Roboto', sans-serif;
}

/***
 * Page Main Section
 */
main{
  background-color: var(--color-light-gray7);
}


/***
 * div#wrapperMainContent 
 */

main div#wrapperMainContent{
  /* background-color: lightgreen; */
  max-width: var(--maxWidthOfMainContentWrapperDiv);  
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  padding-top: 18rem;
  padding-left:2rem;
  padding-right: 2rem;
  animation-name: updateBackgroundImage;
  animation-duration: var(--homepageCarouselSpeed);
  animation-iteration-count: infinite;
  animation-timing-function: step-end;    
  background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);

}
@keyframes updateBackgroundImage {

  0% {  
    background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);
  }
  9%{  
    background-image: url(Images/heroSection/bluetoothCallingSmartwatches.jpg);
  }
  18%{  
    background-image: url(Images/heroSection/monthlyGroceries.jpg);    
  }
  27% {  
    background-image: url(Images/heroSection/smartphones.jpg);
  } 
  36%{  
    background-image: url(Images/heroSection/cosmetic.jpg);
  }
  45%{  
    background-image: url(Images/heroSection/bestSellersInSkinCare.jpg);
  }
  54%{  
    background-image: url(Images/heroSection/clothingBeautyAndMore.jpg);
  }
  63%{  
    background-image: url(Images/heroSection/topAndDresses.jpg);
  }
  72%{  
    background-image: url(Images/heroSection/tShirtsAndPolos.jpg);
  }
  81%{  
    background-image: url(Images/heroSection/outdoorAndSportsToys.jpg);
  }
  90%{  
    background-image: url(Images/heroSection/fitness.jpg);
  }
  100% {  
    background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);
  }
 
}

/***
 * Common Cards 
 */
div.card {
  background-color: var(--color-white);
  width: var(--cardWidth);
  height: var(--cardHeight);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-radius: .2rem;
  justify-content: space-between;
  gap: 1rem;
}

div.card h2{
  color:var(--color-light-black3);
}
div.card a,
div.card a:visited{
  color: var(--colorGreenishBlue);
  text-decoration: none;
}
div.card a:hover{
  text-decoration: underline;
}
div.card div.wrapperFourImages{
  display: grid;
  grid-template-columns: repeat(2, var(--card-subCardWidth));
  grid-template-rows: repeat(2, var(--card-subCardHeight));
  gap: 1rem;
}
div.card div.wrapperFourImages>div{
  /* background-color: lightgreen; */
}
div.card div.wrapperFourImages>div>h3{
  font-size: .8rem;
  color:var(--color-light-black3);
  font-weight: normal;
}
div.card div.wrapperFourImages>div>div{
  /* background-color: lightblue; */
}

div.card div.wrapperFourImages>div>div>img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/***
 * section#aboveHero 
 */

main div#wrapperMainContent section#aboveHero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}





 /***
  * section#inspiredByYourBrowsingHistory 
  */

 section#inspiredByYourBrowsingHistory span.rating-2-stars,
 section#inspiredByYourBrowsingHistory span.rating-2AndHalf-stars,
 section#inspiredByYourBrowsingHistory span.rating-4-stars,
 section#inspiredByYourBrowsingHistory span.rating-3-stars,
 section#inspiredByYourBrowsingHistory span.rating-3AndHalf-stars,
 section#inspiredByYourBrowsingHistory span.rating-4AndHalf-stars{
  background-image: url(Images/inspiredByYourBrowsingHistory/ratings.png);
  min-width: 90px;
  min-height: 21px;
  background-repeat: no-repeat;
  background-position-y: var(--rating-stars-nextStrip);
  display:inline-block;
  /* background-color: yellow; */
 }
 section#inspiredByYourBrowsingHistory span.rating-3-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 3);
 }
 section#inspiredByYourBrowsingHistory span.rating-3AndHalf-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 4);
 }
 section#inspiredByYourBrowsingHistory span.rating-4AndHalf-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 2);
 }
 section#inspiredByYourBrowsingHistory span.rating-4-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 1);
 }
 section#inspiredByYourBrowsingHistory span.rating-2-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 5);
 }
 section#inspiredByYourBrowsingHistory span.rating-2AndHalf-stars{
  background-position-y: calc(var(--rating-stars-nextStrip) * 6);
 }