/*** 
 * index.css
 * Author: Abhishek kumar
 * purpose: to style homepage of our website
 *
 */
 :root {
  --color-pink: #CC0C39;
  --colorGreenishBlue : #007185;

  --color-light-black: #111111;
  --color-light-black2: #131921;
  --color-light-black3: #0F1111;
  --color-black3: #131A22;
  --color-black4: #333333;
 
 --color-white: white;
 --color-light-gray: #cccccc;
 --color-light-gray2: #eaeded;
 --color-light-gray3: #dddddd;
 --color-light-gray4: #3a4553;
 --color-light-gray5: #e6e6e6;
 --color-light-gray6: #d5dbdb;
 --color-light-gray7: #E3E6E6;
 --color-light-gray8: #888C8C;
 --color-light-gray9: #565959;
 --color-light-gray10: #565959;

 

 --color-orange: #f3a847;
 --color-orange-2: #f08804;
 --color-orange-3: #C45500;
 --color-orange-4: #e6a400;
 --color-orange-light: #febd69;
 
 

 --color-grayishBlue: #37475A;
 --color-grayishBlue-2: #485769;


 --color-navBarPrimaryHeader: #232f3e;
 --border-radius: .3rem;
 --color-caretDown: #a7acb2;
 --transition-timing: .3s;
 --transition-timing-2: .2s;

 --maxResolutionSupported: 240rem; /* 240x16px = 3840px width */
 --maxWidthOfMainContentWrapperDiv: 100rem;

 --rating-stars-nextStrip: -19px;
 --homepageCarouselSpeed:15s;  /* 15frames x nSec | Default is 60s */ 
 
 
 
 --cardWidth: 23rem;
 --cardHeight: 27rem;
 --card-subCardWidth: 10rem;
 --card-subCardHeight: 8rem;
 --cardDealOrOfferMinimumWidth: 15rem;
 --cardDealOrOfferMaxHeight: 18rem;
}
*, ::before, ::after{
  padding:0;
  margin:0;
  box-sizing:border-box; /* to make sure width, height, padding properties are computed inside box, and making width/height exactly what specified*/
}
.displayNone{
  display:none; /* to presever semantic aspect of any element like h1, according to validator.w3c.org */
}
html{
  font-size:16px; /* here to make website responsive, 16px is set as base size, such that 1rem=16px */
}
body{
  font-family: 'Roboto', sans-serif;
}

/***
 * Page Main Section
 */
main{
  background-color: var(--color-light-gray7);
  padding-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}



/***
 * div#wrapperMainContent 
 */

main div#wrapperMainContent{
  /* background-color: lightgreen; */
  max-width: var(--maxWidthOfMainContentWrapperDiv);
  margin: auto;
  padding-top: 20rem;
  padding-left:2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 100;
  position: relative;
  width: 100%;
}
a.amazonDefaultAnchorLink,
a.amazonDefaultAnchorLink:visited,
main div#wrapperMainContent a,
main div#wrapperMainContent a:visited,
section#inspiredByYourBrowsingHistory div.recommendations a,
section#inspiredByYourBrowsingHistory div.recommendations:visited{
  color: var(--colorGreenishBlue);
  text-decoration: none;
  transition: .2s;
}

a.amazonDefaultAnchorLink:hover,
main div#wrapperMainContent a:hover{
  text-decoration: underline;
  color:var(--color-orange-3);
}


section#inspiredByYourBrowsingHistory div.recommendations a:hover{  
  color:var(--color-orange-3);
}


/***
 * Carousel 
 */
 section#heroSection{
  animation-name: updateBackgroundImage;
  animation-duration: var(--homepageCarouselSpeed);
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
  background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: var(--maxWidthOfMainContentWrapperDiv);
  height: 40rem;
  margin: auto;
  position: absolute;
  top: 0;
  align-self: center;

}


@keyframes updateBackgroundImage {

  0% {  
    background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);
  }
  7%{  
    background-image: url(Images/heroSection/bluetoothCallingSmartwatches.jpg);
  }
  14%{  
    background-image: url(Images/heroSection/monthlyGroceries.jpg);    
  }
  21% {  
    background-image: url(Images/heroSection/under1499BestSellingEarbuds.jpg);
  } 
  28%{  
    background-image: url(Images/heroSection/smartphones.jpg);
  }
  35%{  
    background-image: url(Images/heroSection/cosmetic.jpg);
  }
  42%{  
    background-image: url(Images/heroSection/bestSellersInSkinCare.jpg);
  }
  49%{  
    background-image: url(Images/heroSection/clothingBeautyAndMore.jpg);
  }
  56%{  
    background-image: url(Images/heroSection/topAndDresses.jpg);
  }
  63%{  
    background-image: url(Images/heroSection/tShirtsAndPolos.jpg);
  }
  70%{  
    background-image: url(Images/heroSection/outdoorAndSportsToys.jpg);
  }
  77% {      
    background-image: url(Images/heroSection/fitness.jpg);
  }
  84% {    
    background-image: url(Images/heroSection/monthlyGrocerisTwo.jpg);
  }
  91% {  
    background-image: url(Images/heroSection/limitedTimeKitchenOffersStartingFrom79.jpg);
  }
  100% {  
    background-image: url(Images/heroSection/kitchenAndOutdoor.jpg);
  }


 
}
/***
 * section#todaysDeals 
 */




/***
 * Common dealsOrOffers 
 */
 section.wrapperDealsOrOffers{
  padding: 1rem;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  position: relative;
}
section.wrapperDealsOrOffers div.sectionName{
  display: flex;
  gap: 1rem;
  align-items: center;
}
div.dealsOrOffers{
  display: flex;
  gap: 3rem;
  /* background: yellow; */
  padding-top: .5rem;
  /* overflow-x: scroll; */
  overflow: hidden;
}


div.dealsOrOffers div.dealOrOfferImgOnly{
  width: inherit;
  min-width: fit-content;
  height: 14rem;
  padding: 1rem 0;
}
div.dealsOrOffers div.dealOrOfferImgOnly img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

div.dealsOrOffers div.dealOrOffer{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* background-color: lightgreen; */
  min-width: var(--cardDealOrOfferMinimumWidth);
  padding: 1rem;
  max-height: var(--cardDealOrOfferMaxHeight);
  border-radius: .2rem;
  padding-top: 0;
}

div.dealsOrOffers div.dealOrOffer div.wrapperProductImg{
  /* background-color: lightblue; */
  width: inherit;
  height: 14rem;
  padding: .5rem 0;
}
div.dealsOrOffers div.dealOrOffer div.wrapperProductImg img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
div.howMuchOffAndDealOfTheDay span:first-child{
  background-color: var(--color-pink);
  color: var(--color-white);
  padding: .3rem;
  font-size: .8rem;
  border-radius: .1rem;
}
div.howMuchOffAndDealOfTheDay span:last-child{
  color:var(--color-pink);
  font-size: .8rem;
  font-weight: bold;
}
div.dealsOrOffers div.dealOrOffer h3{  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/***
 * Common Cards 
 */
div.card,
div.cardHavingImagesOnly {
  background-color: var(--color-white);
  width: var(--cardWidth);
  height: var(--cardHeight);
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  border-radius: .2rem;
  justify-content: space-between;
  gap: 1rem;
}
div.cardHavingImagesOnly {
  
}

div.card h2{
  color:var(--color-light-black3);
}

div.card div.wrapperFourImages,
div.cardHavingImagesOnly div.wrapperFourImagesNoHeadings{
  display: grid;
  grid-template-columns: repeat(2, var(--card-subCardWidth));
  grid-template-rows: repeat(2, var(--card-subCardHeight));
  gap: 1rem;
}

div.card div.wrapperFourImages>div{
  /* background-color: lightgreen; */
}
div.card div.wrapperFourImages>div>h3,
div.dealsOrOffers div.dealOrOffer h3{
  font-size: .8rem;
  color:var(--color-light-black3);
  font-weight: normal;
}
div.card div.wrapperFourImages>div>div{
  /* background-color: lightblue; */
}

div.card div.wrapperFourImages>div>div>img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
div.cardHavingImagesOnly div.wrapperFourImagesNoHeadings>div>img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/***
 * section#aboveHero 
 */

main div#wrapperMainContent section#aboveHero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}








 /***
  * Four Cards Section  
  */
  section.fourCards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  section.fourCards div.newSeriesHack{
    background-color: var(--color-white);
    width: var(--cardWidth);
    height: var(--cardHeight);
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: .2rem;
    justify-content: space-between;
    gap: 1rem;
  }
  section.fourCards div.newSeriesHack>div>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
/***
 * cardBestSellerInBooks 
 */

  section.fourCards div.cardBestSellerInBooks div.fourBooks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 5rem;
    gap: .5rem;

  }
  section.fourCards div.cardBestSellerInBooks div.booksCollectionFullSize{
    align-self: center;
  }


  section.fourCards div.cardBestSellerInBooks div.fourBooks>div:first-child{
    box-shadow: inset 0 0 0 3px #007185;
  }
  section.fourCards div.cardBestSellerInBooks div.fourBooks>div{
    border: 1px solid var(--color-light-gray8);
    padding:.3rem;
    border-radius: .5rem;
    transition: .2s;
    cursor: pointer;
  }
  section.fourCards div.cardBestSellerInBooks div.fourBooks>div:hover{
    border-color: #007185;
  }
  section.fourCards div.cardBestSellerInBooks div.fourBooks>div>img{
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  section.fourCards div.cardBestSellerInBooks div.priceInfo span.price::after{
    content:"00";
  }
  section.fourCards div.cardBestSellerInBooks div.priceInfo span.price::before{
    content:"\20B9"; /* ₹ Symbol*/
  }

  section.fourCards div.cardBestSellerInBooks div.priceInfo span.price::after,
  section.fourCards div.cardBestSellerInBooks div.priceInfo span.price::before{
    font-size:.8rem;
    position: relative;
    top: -.5rem;
    
  }
  section.fourCards div.cardBestSellerInBooks div.priceInfo span.price{
    color: var(--color-light-black3);
    font-weight: 400;
    font-size: 1.5rem;
    
  }
  section.fourCards div.cardBestSellerInBooks div.priceInfo span.MRP{
    color:var(--color-light-gray9);
  }


/***
 * homeFurnishings & newSeriesCrushed
 **/
 section.homeFurnishings,
 section.newSeriesCrushed{
  place-self: center;
 }


 /***
  * inspiredByYourBrowsingHistory 
  */
section#inspiredByYourBrowsingHistory{
  display: flex;
  flex-direction: column;
  padding:2rem 1rem;
  gap: 1rem;
  position: relative;
}
section#inspiredByYourBrowsingHistory hr{
  border:none;
  border-top: 1px solid var(--color-light-gray3);
  
}

section#inspiredByYourBrowsingHistory div.recommendations{
  display: flex;
  gap:1rem;
  overflow-x: scroll;
  overflow: hidden;
  width: 98%;
  align-self: center;
}
section#inspiredByYourBrowsingHistory div.recommendations div.recommendation{
  padding:1rem .5rem;
  /* background-color: lightblue; */
}
section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.wrapperRatings{
  display: flex;
  align-items: center;
}

section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.priceAndDeliveryInfo{
  color:var(--color-light-black3);
  /* background-color: lightblue; */
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  gap:.3rem;
  padding-top:.3rem;
}

section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.priceAndDeliveryInfo div.wrapperPriceAndQuantity{
  font-size: 1.1rem;
  font-weight: 400;
  
}

section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.priceAndDeliveryInfo div.wrapperPriceAndQuantity span.price::before{
  content:"\20B9"; /* ₹ Symbol*/
  top:-.3rem;
  position: relative;
  font-size: .8rem;
}
section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.priceAndDeliveryInfo div.wrapperPriceAndQuantity span.pricePerMlOrGram{
  font-size: .8rem;
  
}
section#inspiredByYourBrowsingHistory div.recommendations div.recommendation div.priceAndDeliveryInfo div.expectedDelivery span.Day{
  font-weight: 600;
}

.no1BestSeller{
  background-color:var(--color-orange-3);
  color:var(--color-white);
  padding: 0.3rem;
  clip-path: polygon(100% 0%, 91% 50%, 100% 100%, 0 99%, 0% 50%, 0 0);
  padding-right: 1rem;
  display: inline-block;
  border-top-left-radius: .2rem;
  border-bottom-left-radius: .2rem;
}


  section#inspiredByYourBrowsingHistory span.rating-2-stars,
  section#inspiredByYourBrowsingHistory span.rating-2AndHalf-stars,
  section#inspiredByYourBrowsingHistory span.rating-4-stars,
  section#inspiredByYourBrowsingHistory span.rating-3-stars,
  section#inspiredByYourBrowsingHistory span.rating-3AndHalf-stars,
  section#inspiredByYourBrowsingHistory span.rating-4AndHalf-stars{
   background-image: url(Images/inspiredByYourBrowsingHistory/ratings.png);
   min-width: 90px;
   min-height: 21px;
   background-repeat: no-repeat;
   background-position-y: var(--rating-stars-nextStrip);
   display:inline-block;
   /* background-color: yellow; */
  }
  section#inspiredByYourBrowsingHistory span.rating-3-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 3.1);
  }
  section#inspiredByYourBrowsingHistory span.rating-3AndHalf-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 4.1);
  }
  section#inspiredByYourBrowsingHistory span.rating-4AndHalf-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 2);
  }
  section#inspiredByYourBrowsingHistory span.rating-4-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 1);
  }
  section#inspiredByYourBrowsingHistory span.rating-2-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 5.3);
   /* border: 1px solid red; */
  }
  section#inspiredByYourBrowsingHistory span.rating-2AndHalf-stars{
   background-position-y: calc(var(--rating-stars-nextStrip) * 6.2);
  }
 

/***
 * section#seePersonalizedRecommendations 
 */
 section#seePersonalizedRecommendations{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}
section#seePersonalizedRecommendations,
section#seePersonalizedRecommendations h2{
  font-size: .9rem;
  font-weight: normal;
  
}
section#seePersonalizedRecommendations div.wrapperNewCustomer{
  font-size: .8rem;
}
section#seePersonalizedRecommendations a.signIn{
  background: linear-gradient(#ffd772, #ffd978, #ffcb47, #ffc42d);
  padding:.5rem 7rem;
  display: block;
  border-radius: .3rem;
  text-decoration: none;
  color:black;
  border:1px solid var(--color-orange-4);
  font-weight: 500;
  font-size: .8rem;
}


/***
 * Scroll left and right Button 
 */
button.scrollLeft, 
button.scrollRight{
  font-size: 2rem;
  padding: 0 1.2rem;
  height: 8rem;
  width: 4rem;
  position: absolute;
  align-self: center;
  opacity: 0;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0 1px 3px #888;
  border:none;
  color:var(--color-light-gray10);
  border-radius: .2rem;
}


button.scrollLeft{
  left:0;
}
button.scrollRight{
  right: 0;
}

div.dealsOrOffers:hover button.scrollLeft,
div.dealsOrOffers:hover button.scrollRight,
div.dealsOrOffers:active button.scrollLeft,
div.dealsOrOffers:active button.scrollRight{
  opacity: .5;
  
}

div.recommendations:hover button.scrollLeft,
div.recommendations:hover button.scrollRight,
div.recommendations:active button.scrollLeft,
div.recommendations:active button.scrollRight{
  opacity: .8;
  
}

div.dealsOrOffers:hover button.scrollLeft:hover,
div.dealsOrOffers:hover button.scrollRight:hover,
div.recommendations:hover button.scrollLeft:hover,
div.recommendations:hover button.scrollRight:hover,
div.dealsOrOffers:active button.scrollLeft:active,
div.dealsOrOffers:active button.scrollRight:active,
div.recommendations:active button.scrollLeft:active,
div.recommendations:active button.scrollRight:active{
  opacity: 1;
  color:var(--color-black4);
}



/***
 * MEDIA QUERIES 
 */

 @media screen and (max-width:1600px){
  :root{
    --maxWidthOfMainContentWrapperDiv:90rem;
  }
  main div#wrapperMainContent section#aboveHero{
    grid-template-columns: repeat(3, var(--cardWidth));
    align-self: center;
  }
  section.fourCards{
    grid-template-columns: repeat(2, var(--cardWidth));
    align-self: center;
  }
  main div#wrapperMainContent {
    padding-top: 18rem;
  }
 }
 @media screen and (max-width:1450px){
  :root{
    --maxWidthOfMainContentWrapperDiv:80rem;
  }
 }
 @media screen and (max-width:1360px){
  button.scrollLeft, 
  button.scrollRight{
    opacity: .3;
  }
 }
 @media screen and (max-width:1330px){
  :root{
    --maxWidthOfMainContentWrapperDiv:100%;
  }
 } 
 @media screen and (max-width:1186px){
  main div#wrapperMainContent section#aboveHero{
    grid-template-columns: repeat(2, var(--cardWidth));
  }
  section#todaysDeals div.dealsOrOffers{
    gap:0rem;
  }
 }

 @media screen and (max-width:1040px){
  section.homeFurnishings a>img, 
  section.newSeriesCrushed a>img{
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
 }

 @media screen and (max-width:800px){
  main div#wrapperMainContent section#aboveHero{
    grid-template-columns: repeat(1, var(--cardWidth));
  }
  section.fourCards{
    grid-template-columns: repeat(1, var(--cardWidth));
  }  
  section#heroSection{
    background-position-x:-18rem;
  }

 }

 
 @media screen and (max-width:450px){
  button.scrollLeft, 
  button.scrollRight{
    opacity: .5;
  }
  section#heroSection{
    background-position-x:-23rem;
  }

  :root{
    --card-subCardWidth: 15rem;
    --card-subCardHeight: 11rem;
    --cardWidth: 20rem;
    --cardHeight: 54rem;
  }

  div.card div.wrapperFourImages,
  div.cardHavingImagesOnly div.wrapperFourImagesNoHeadings{    
    grid-template-columns: repeat(1, var(--card-subCardWidth));
    grid-template-rows: repeat(2, var(--card-subCardHeight));
  }
  div.card, div.cardHavingImagesOnly{
    align-items: center;
  }
  div.cardHavingImagesOnly div.wrapperFourImagesNoHeadings>div>img{
    width: initial;
    height: initial;
  }
  div.cardHavingImagesOnly div.wrapperFourImagesNoHeadings{
    justify-items: center;
  }
  section.fourCards div.newSeriesHack{
    height: 24rem;
  }
  div.cardBestSellerInBooks{
    height: 29rem;
  }
 }


 @media screen and (max-width:340px){
  section#heroSection{
    background-position-x:-25rem;
  }
  :root{
    --cardWidth: 18rem;
    --cardHeight: 58rem;
  }
  body{
    min-width: 320px;
  }
 }