:root {
  --color-white: #FFFFFF; /* variables for colors and properties if you wish to create any, you can */
}
*, ::before, ::after{
  padding:0;
  margin:0;
  box-sizing:border-box; /* to make sure width, height, padding properties are computed inside box, and making width/height exactly what specified*/
}
.displayNone{
  display:none; /* to presever semantic aspect of any element like h1, according to validator.w3c.org */
}
html{
  font-size:16px; /* here to make website responsive, 16px is set as base size, such that 1rem=16px */
}
body{
  font-family: 'Roboto', sans-serif;
}

/***
 * Yours CSS Code begins from here 
 */



 .main-section, .seller-link{
  width: 100%;
  padding: 1vmin;
  box-sizing: border-box;
 }

 .seller-link ul{
  display: flex;
  list-style: none;
  gap: 2.8vmin;
  padding-left: 1.2vmin;
  border-bottom: 1px solid #c5c5c5;
  box-sizing: border-box;
  height: 20px; 
 }

 .seller-link ul li{
  font-size: 1.8vmin;
  font-weight: bold;

 }

 .seller-link ul li:hover{
  border-bottom: 2px solid #e48236;
  color: #e48236;
  cursor: pointer;
 }

 .seller-link ul .best{
  border-bottom: 2px solid #e48236;
 }


 .main-heading h2{
  font-size: 3.6vmin;
  margin-top: 1.8vmin;
 }

 .main-heading p{
  font-size: 1.7vmin;
  color: rgb(120, 120, 120);
 }



 /* seller-section  */




 .seller-section{
  display: flex;
  width: 100%;
  padding-top: 1rem;
 }

 .seller-links{
  width: 196px;
 }

 .seller-links ul{
  padding-left: 1.1vmin;
  list-style: none;
  border-right: 1px solid rgb(211, 209, 209);
 }



 /* seller-products */

 .seller-products{
  display: flex;
  flex-direction: column;
  width: 87%;
 }

 .seller-products-section1{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1.4vmin;
  margin: 1.6vmin 0;
  box-sizing: border-box;
 }

 .products-section{
  display: flex;
  width: 100%;
 }

 .products-section .side-btn{
  display: flex;
  width: 3.4%;
  position: relative;
  align-items: center;
  justify-content: center;
 }

 .products-section .side-btn .btn{
  position: relative;
  top: -20%;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 8px;
  cursor: pointer;
 }

 .products-section .side-btn .btn i{
  height: 38px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 6px 1px rgb(238, 238, 238);
 }

 .products-section .side-btn .btn i:hover{
  background-color:rgb(249, 249, 249);
 }

 .products-section1-heading{
  display: flex;
  justify-content: space-between;
  padding: 1.8vmin;
 }

 .products-section1-heading .section1-heading{
  display: flex;
  align-items: flex-end;
 }

 .products-section1-heading .section1-heading a{
  color: #587d81;
  text-decoration: none;
  padding-left: 1vmin;
  text-align: center;
 }

 .products-section1-heading .section1-heading a:hover{
  color: #C45500;
  text-decoration: underline;
 }

 .products-section1-heading .products-section1-sider{
  display: flex;
  align-items: center;
 }

 .products-section .products{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .products-section .products .product{
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 100%;
 }

 .products-section .products .product:hover{
  cursor: pointer;
 }

 .products-section .products .product p{
  
  color: #007185;
 }

 .products-section .products .product p:hover{
  color: #df6910;
  text-decoration: underline;
 }

 .products-section .products .product .price p{
  color: #ab4a00;
  text-decoration: none;
 }

 .products-section .products .product .rating{
  display: flex;
  margin-top: 1vmin;
 }

 .products-section .products .product .rating img{
  width: 35%;
  height: 100%;
  margin-right: 3px;
 }

 .products-section .products .product .rating p{
  color: #007185;
  height: 100%;
  font-size: 0.75rem;
  align-items: flex-start;
  justify-content: center;
  display: flex;
 }

 .products-section .products .product .rating p:hover{
  color: #df6910;
  text-decoration: none;
 }

 .products-section .products .product span{
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  background-color: #C45500;
  width: 19%;
  height: 3.4vmin;
  margin-bottom: 2.8vmin;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vmin;
  color: white;
 }

 .products-section .products .product img{
  width: 100%;
  padding-bottom: 2vmin;
 }

 .seller-products .about{
    margin: 2rem 0;
 }

 .seller-products .about span{
    font-size: 2vmin;
    display: block;
    font-weight: bold;
    margin: 2vmin 0;
 }

 .seller-products .about p{
    font-size: 1.6vmin;
 }





 /* seller-section2  */



 .seller-section2{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 5px;
  margin-bottom: 4vmin;
 }

 .seller-section2-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1vmin 2vmin;
  box-sizing: border-box;
  margin-bottom: 4vmin;
 }

 .seller-section2-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.7vmin 0;
 }

 .seller-section2-heading h3{
  font-size: 2.4vmin;
 }

.seller-section2-box .seller-section2-items{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}


.seller-section2-items .seller-section2-item{
  height: 100%;
  flex-direction: column;
  width: 160px;
  cursor: pointer;

}

.seller-section2-items .seller-section2-item p:hover{
  color: #e48236;
  cursor: pointer;
}

.seller-section2-items .seller-section2-item{
  color: #007185;
}

.seller-section2-items .seller-section2-item .rating1{
  display: flex;
  align-items: center;
  padding: 1vmin 0;
}

.seller-section2-items .seller-section2-item .rating1 span{
  color:#007185;
  font-size: 0.7rem;
}

.seller-section2-items .seller-section2-item .price{
  color:#000000;
}

.seller-section2-items .seller-section2-item .rating1 span:hover{
  color:#e48236;
  cursor: pointer;
}

 .seller-section2 .seller-section2-items .side-btn{
  display: flex;
  width: 3.4%;
  height: 40vmin;
  position: relative;
  align-items: center;
  justify-content: center;
 }

 .seller-section2 .seller-section2-items .side-btn .btn{
  position: relative;
  top: -12%;
  border: 1px solid rgb(211, 209, 209);
  border-radius: 8px;
  cursor: pointer;
 }

 .seller-section2 .seller-section2-items .side-btn .btn i{
  height: 38px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 6px 1px rgb(238, 238, 238);
 }





 /* seller bottom section  */



 .seller-bottom-section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3vmin auto;
  padding-top: 4vmin;
  border-top: 1px solid rgb(211, 209, 209);
  width: 94%;
 }

 .seller-bottom-section .para p{
  margin: 1vmin 0;
 }

 .seller-bottom-section .btn button{
  width: 32vmin;
  height: 4.2vmin;
  background-color: #FFC941;
  border-radius: 4px;
  border: 1px solid rgb(196, 141, 12);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1.2vmin;
 }

 .seller-bottom-section .para2 p{
  font-size: 0.8rem;
 }

 .seller-bottom-section .para2 p a{
  margin: 1vmin;
  text-decoration: none;
  color: #007185;
 }

 .seller-bottom-section .para2 p a:hover{
  color:#e48236
 }