* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif;
}

body {
    background-color: #1a2224;
    width: 100vw;
    overflow-x: hidden;

}

/* Wrapping the navBar in this class */
.container {
    display: flex;
    background-color: #1a2224;
    color: #fff;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}

/* For Logo and Links to make it flex in the navBar  */
.left_header {
    display: flex;
    flex-direction: row;
}

/* Giving Margin to the Logo in navBar */
figure>img {
    margin-left: 3vmin;
    margin-right: 3vmin;
    height: 7vmin;
    width: 28vmin;
}

/* This is for links in the navBar */
.middle_header>a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 10px 12px;
    font-size: 2vmin;
    font-weight: bold;
    padding-left: 10px;
}

/*for targeting the links and default is Home*/
#home {
    color: #ce146d;
}

.middle_header a:focus,
.middle_header a:target,
.middle_header a:active {
    text-decoration: none;
    color: #ce146d;
}

/* This is for right icons */
.right_header {
    padding: 2vmin;
}

.right_header svg {
    margin: 2vmin;
}

/* This is the hero section where crousel is happening by keyframe */
.hero_section {
    overflow: hidden;
    width: 100vw;
}

/* Animation properties used here */
.crousel {
    position: relative;
    width: 1000vw;
    animation-name: imgslider;
    animation-duration: 30s;
    animation-iteration-count: infinite;

}

.crousel>img {
    width: 100vw;
    float: left;
}

/* keyframes for crousel part */
@keyframes imgslider {
    0% {
        left: 0vw;
    }

    5% {
        left: 0vw;
    }

    10% {
        left: -100vw;
    }

    15% {
        left: -100vw;
    }

    20% {
        left: -200vw;
    }

    25% {
        left: -200vw;
    }

    30% {
        left: -300vw;
    }

    35% {
        left: -300vw;
    }

    40% {
        left: -400vw;
    }

    45% {
        left: -400vw;
    }

    50% {
        left: -500vw;
    }

    55% {
        left: -500vw;
    }

    60% {
        left: -600vw;
    }

    65% {
        left: -600vw;
    }

    70% {
        left: -700vw;
    }

    75% {
        left: -700vw;
    }

    80% {
        left: -800vw;
    }

    85% {
        left: -800vw;
    }

    90% {
        left: -900vw;
    }

    100% {
        left: -900vw;
    }

}

.main_section_trending h2 {
    color: #d6d6d7;
    background-color: #070d0e;
    padding-top: 20px;
    padding-left: 100px;
}

/* Main owl_carousel container */
.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    background-color: #070d0e;
}

/* Individual carousel slides */
.owl-carousel .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 20px);
    margin-right: 20px;
}

.owl-carousel .slide-content img {
    max-width: 100%;
    position: relative;
    z-index: -1;
    max-height: 100%;
    border-radius: 8px;
    margin: 10vh 10vw;
    transition: transform 0.3s ease-in-out;
}

.owl-carousel .slide:hover .slide-content img {
    transform: scale(1.3);
    position: relative;
    z-index: 1000;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #333;
}

.owl-prev {
    left: 5px;
    height: 25px;
    width: 25px;
}

.owl-next {
    right: 10px;
    height: 30px;
    width: 30px;
}

.topRated_imdb {
    padding: 45px;
    background-color: #070d0e;
}

.topRated_imdb h2 {
    padding-bottom: 40px;
    padding-left: 40px;
    color: #d6d6d7;
}

/* Last section of the main content */
.topRated_imdb,
.footer_container,
.desc {
    padding: 20px;
}

.imdbrated {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.imdbrated div {
    width: 100%;
    max-width: calc(50% - 15px);
    margin-bottom: 15px;
}

.imdbrated img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    transition: transform 0.3s ease-in-out;
}

.imdbrated img:hover {
    transform: scale(1.3);
}

/* CSS for Footer container */
.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #0f1516;
    padding: 2vmin 5vmin;
}

.footer_left {
    display: flex;
    flex-wrap: wrap;
}

.footer_left .img1{
    height: 10vmin;
    width: 26vmin;
}

.footer_left .img2{
    height: 5vmin;
    width: 46vmin;
}

.footer_ad {
    margin-left: 20px;
    display: flex;
}

.footer_ad .footer-ad-img {
    height: 24vmin;
    width: 24vmin;
}

.footer_ad .footer-ad-img img{
    height: 100%;
    width: 100%;
}

.footer_right {
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.footer_right img {
    margin-right: 10px;
    border-radius: 50%;
    background-color: #1a2224;
}

/*Footer 2nd part*/
.desc {
    display: flex;
    color: #3b4240;
    justify-content: space-around;
    padding: 20px;
    background-color: #0f1516;
}

.items {
    font-size: 10px;
    background-color: #0f1516;
}

/* Media queries for responsiveness */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .imdbrated div {
        max-width: calc(50% - 15px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    
    .imdbrated div {
        max-width: calc(33.3333% - 15px);
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1440px) {

    .imdbrated div {
        max-width: calc(25% - 15px);
    }
}


@media only screen and (min-width: 481px) and (max-width: 767px) {

    .imdbrated div {
        max-width: calc(50% - 15px);
    }
}



@media (max-width: 200px)  and (max-width: 900px){
    .footer_container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0f1516;
        padding: 2vmin 5vmin;
    }
}




@media (max-width: 860px) {
    .middle_header .nav-item6{
        display: none;
    }
}


@media (max-width: 775px) {
    .middle_header .nav-item5{
        display: none;
    }
}


@media (max-width: 690px) {
    .middle_header .nav-item4{
        display: none;
    }
}


@media (max-width: 615px) {
    .middle_header .nav-item3{
        display: none;
    }
}

@media (max-width: 420px) {
    .middle_header .nav-item2{
        display: none;
    }
}